@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

header {
    background-image: url(../images/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2% 10%;
    font-size: 18px;
}

.nav-links ul{
    display: flex;
    gap: 8%;
}

.nav-links ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: wheat;
    border-bottom: 3px solid white;
    border-width: 3px;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    display: none;
    justify-content: space-between;
    font-size: 30px;
}

.immersive-wrapper {
    border: 2px solid white;
    padding: 2%;
    width: 40%;
    margin: 5% 10% 0 10%;
    color: white;
    text-align: left;
}

.immersive-wrapper p {
    font-size: 4rem;
    text-transform: uppercase;
}

.interactive {
    padding: 5% 10%;
}

.interactive img {
    position: relative;
}

.big-paragraph {
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 5%;
}

.info {
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
}

.content-wrapper {
    background-color: white;
    padding: 5%;
    width: 40%;
    position: absolute;
    top: 900px;
    left: 700px;
} 

.gallery-description {
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
}

.creation {
    font-size: 2rem;
    text-transform: uppercase;
}

.gallery-btn {
    border: 1px solid black;
    padding: 1% 3%;
    text-transform: uppercase;
    cursor: pointer;
}

.gallery-btn:hover {
    background-color: black;
    color: white;
}

.mobile-images {
    display: none;
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 5% 10%;
    column-gap: 2%;
}

.img-wrapper {
    padding-bottom: 15%;
}

.img-text {
    position: relative;
    margin-top: -20%;
    width: 50%;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    left: 8%;
}

footer {
    background-color: hsl(0, 0%, 0%);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
    align-items: center;
    line-height: 2;
}

footer ul {
    display: flex;
    gap: 8%;
    padding-top: 5%;
}

ul li {
    list-style: none;
}

.footer-aside {
    text-align: right;
}

footer i {
    letter-spacing: 10px;
}

.footer-aside p {
    color: hsl(0, 0%, 55%);
}

@media screen and (max-width: 700px) {
    body {
        max-width: 100%;
    }

    .toggle-button {
        display: flex;
        cursor: pointer;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5%;
        color: white;
    }

    .nav-links ul{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nav-links ul li {
        padding: 3% 0;
        text-align: left;
    }

    .nav-links.active {
        display: flex;
    }

    header {
        background-image: url(../images/mobile/image-hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }

    .immersive-wrapper {
        width: 80%;
        margin: 20% auto;
        padding: 5%;
    }

    .immersive-wrapper p {
        font-size: 2rem;
    }

    .interactive {
        display: flex;
        flex-direction: column;
    }

    .content-wrapper {
        position: initial;
        width: 100%;
        text-align: center;
        margin: 10% 0;
        line-height: 30px;
    }

    .gallery {
        position: relative;
        padding: 10% 0 30% 0;
    }

    .gallery-btn {
        position: absolute;
        bottom: 5%;
        left: 25%;
        width: 50%;
        padding: 3% 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .gallery-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-wrapper img{
        height: 100px;
    }

    .desktop-images {
        display: none;
    }

    .mobile-images {
        display: block;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0;
    }

    .footer-content ul {
        flex-direction: column;
        align-items: center;
        font-family: 'Alata', sans-serif;
        font-size: 20px;
        padding: 5% 0 10% 0;
    }

    .footer-aside {
        padding: 5%;
        text-align: center;
        font-family: 'Alata', sans-serif;
    }

    .footer-icons {
        letter-spacing: 5px;
        padding: 5% 0;
    }

    .attribution {
        padding-top: 5%;
    }

    .footer-logo {
        padding-top: 20%;
    }
}
